.styled-table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
}

.table-header {
  color: #2E2E2E;
  font-weight: bold;
  text-align: left;
  padding: 14px;
  cursor: pointer;
  user-select: none;
  transition: background 0.2s;
}

.styled-table tbody tr:hover {
  background-color: #acacac;
  cursor: pointer;
}

.table-cell {
  padding: 14px;
  color: #2E2E2E;
  border-bottom: 1px solid #e5e7eb;
}
